.search-bar {
  background-color: #CB1D00;
  padding: 5 10;
  color:white;
}
.add-bar Image {
  height: 15;
  vertical-align: center;
  margin-left: 10;
  margin-right: 5;
}
TextField {
  color: white;
}
ListView {
	opacity: 0;
  }
  .visible {
	animation-name: show;
	animation-duration: 3s;
	animation-fill-mode: forwards;
  }
  @keyframes show {
	from { opacity: 0; }
	to { opacity: 1; }
  }
  ActionBar{
	  background-color: black;
	  color: white;
  }
.small-spacing{
	background-color:#fff000;
	color: #3489db
}
