.submit-button {
	background-color: black;
	color: white;
	margin-top: 20;
	line-height: 1em;
	padding: 0px;
  }
  Page {
	font-size: 15;
	padding: 50;
	background-color: #434343;
  }
  ActionBar{
	background-color:#4a86e8;
	color: white;
	padding-top: 24;
}
.body{
	color: white;
	font-size: 20;
}



