.submit-button {
	background-color: #CB1D00;
	color: white;
	margin-top: 20;
	line-height: 1em;
	padding: 0px;
  }
  Page {
	background-color: white;
	font-size: 15;
	padding: 50;
  }
  ActionBar{
	background-color: black;
	color: white;
}

