

Page {
	background-color: white;
	font-size: 15;
  }
  TextField {
	padding: 10;
	font-size: 13;
  }
  StackLayout {
	margin-left: 30;
	margin-right: 30;
	padding-bottom: 15;
	background-color: #b7b7b7;

  }
  Image {
	margin-top: 5;
	margin-bottom: 20;
  }
  Button, TextField {
	margin-left: 16;
	margin-right: 16;
	margin-bottom: 10;
  }
  .submit-button {
	background-color: #4a86e8;
	color: white;
	margin-top: 20;
  }
